<!--
  Generated template for the CreditPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="profileheader" hideBackButton="true">
    <ion-row >
      <ion-col col-1>
        <ion-icon [navPush]="addpayment" class="whiteicon" style="padding: 13px 0 0 10px;;" name="md-close"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <h4  style="text-align: center;">ADD CREDIT CARD</h4>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: white;">
	<ion-label class="helpstr">
		NAME ON CARD
	</ion-label>
		<ion-row class="borderbottom">
			<ion-col col-11>
				<ion-input type="text" [(ngModel)]="name" (ionChange)="change()" placeholder="Enter name on the card" pattern="^[a-zA-Z]$" maxLength="25"></ion-input>
			</ion-col>
			<ion-col col-1 style="text-align: center; font-size:3rem;">
				<ion-icon name="close" (click)="removename()"></ion-icon>
			</ion-col>
		</ion-row>
		
	<ion-label class="helpstr">
		CARD NUMBER
	</ion-label>
	<ion-row class="borderbottom">
		<ion-col col-9>
			<ion-input (ionChange)='f()' type="tel" [(ngModel)]="cardnumber"  (ionChange)="cardNumberChange()" pattern="[0-9]{13,19}" maxLength="19" placeholder="Enter card number"></ion-input>
		</ion-col>
		<ion-col col-2>
		    <img *ngIf="iscard" class="mastersize animated  fadeIn" src="assets/icon/visa.png">
		    <img *ngIf="!iscard" class="mastersize animated  fadeIn" src="assets/icon/mastercard.png">
		</ion-col>
		<ion-col col-1 style="text-align: center; font-size:3rem;">
			<ion-icon name="close" (click)="removenumber()"></ion-icon>
		</ion-col>
	</ion-row>
	<ion-item class="helpstr" no-margin >
		<ion-label item-left >
			EXPIRY DATE
		</ion-label>
		<ion-label item-right >
			SECURITY CODE
		</ion-label>
	</ion-item>
	<ion-row class="borderbottom">
		<ion-col col-5>
		<ion-item  no-padding>
           <!-- <select [(ngModel)]="expirydate" class="selectyear">
			    <option value="2018" selected="true">2018</option>
			    <option value="2019">2019</option>
			    <option value="2020">2020</option>
			    <option value="2021">2021</option>
			    <option value="2022">2022</option>
			    <option value="2023">2023</option>
			    <option value="2024">2024</option>
			    <option value="2025">2025</option>
			    <option value="2026">2026</option>
			    <option value="2027">2027</option>
			    <option value="2028">2028</option>
			    <option value="2029">2029</option>
			    <option value="2030">2030</option>
			  </select> -->			
			<ion-datetime displayFormat="MM/YYYY" [min]="minDate" max="2030" [(ngModel)]="expirydate" (ionChange)="change()" class="expirydate">{{expirydate}}</ion-datetime>
		</ion-item>
			 
		</ion-col>
		<ion-col col-1 style="text-align: center; font-size:3rem;">
			<ion-icon name="close" (click)="cleardate()"></ion-icon>
		</ion-col>
		<ion-col col-5>
	    <ion-input type="{{type}}" name="password" [(ngModel)]="password" (ionChange)="change()" pattern="[0-9]*" maxLength="3" minLength="3"></ion-input>
	  </ion-col>
		<ion-col col-1 style="text-align: center; font-size:3rem;">
			<ion-icon *ngIf="!showPass" (click)="showPassword()" name="ios-eye-off-outline"></ion-icon>
			<ion-icon *ngIf="showPass" (click)="showPassword()" name="ios-eye-outline"></ion-icon>
		</ion-col>
	</ion-row>
	<ion-label class="helpstr">
		Country
	</ion-label>
	<ion-select class="selectwidth" [(ngModel)]="countryname">
		 <ion-option *ngFor="let country of countries"  [value]="country.name">{{country.name}}</ion-option>
  </ion-select>

	<button ion-button block   
	[ngClass]="{disabled : !searchStatus,
	'search-btn-valid':searchStatus,
	'search-btn-invalid':!searchStatus }"  
	(click)="searchStatus && saveCard()"
 >SAVE</button>
</ion-content>
