<ion-header>

  <ion-navbar class="profileheader" hideBackButton="true">
    <ion-row >
      <ion-col col-1>
        <ion-icon  class="whiteicon" style="padding: 13px 0 0 10px;" name="md-close" (click)="closeScreen()"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <h4  style="text-align: center;">CHANGE PASSWORD</h4>
      </ion-col>
      <ion-col col-1>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>

<ion-content >

	<div>
		<form [formGroup]="changeForm" class="landingformm">
			
			<ion-list>

				<ion-item>
					<ion-label floating class="helpstring">Enter old password</ion-label>
					<ion-input 
					    class="inputstyle"
					    type="password"
					    formControlName="oldPass"></ion-input>
				</ion-item>
				
				<ion-item class="error-message" *ngIf="changeForm.controls['oldPass'].hasError('maxlength') && changeForm.controls['oldPass'].touched">
	        		<p> *Password must be 6 to 20 characters</p>
	      		</ion-item>
				

				<ion-item>
				    <ion-label floating class="helpstring">New Password</ion-label>
				    <ion-input 
				    class="inputstyle"
				    type="password"
				    formControlName="newpass"></ion-input>
			  </ion-item>

			  <ion-item class="error-message" *ngIf="changeForm.controls['newpass'].hasError('minlength') && changeForm.controls['newpass'].touched">
        			<p> *Password must be 6 to 20 characters</p>
      		  	</ion-item>

				<ion-item class="error-message" *ngIf="changeForm.controls['newpass'].hasError('maxlength') && changeForm.controls['newpass'].touched">
	        		<p> *Password must be 6 to 20 characters</p>
	      		</ion-item>

	      		<ion-item *ngIf="changeForm.controls['newpass'].hasError('pattern') && 
		      		changeForm.controls['newpass'].touched ">
		      	<p class="error-message">*Required  atleast one letter and one number </p>
		      	<p>{{changeForm.controls['newpass'].hasError('pattern')}}</p>
		      </ion-item>

			  <ion-item>
				    <ion-label floating class="helpstring">Confirm Password</ion-label>
				    <ion-input 
				    class="inputstyle"
				    type="password"
				    formControlName="conpass"></ion-input>
			  </ion-item>
			  <ion-item  *ngIf="changeForm.controls['conpass'].touched && 
				changeForm.hasError('mismatchedPasswords') && changeForm.controls['newpass'].valid">
        		<p class="error-message">Passwords do not match</p>
      		</ion-item>


			  <!-- <button ion-button 
		       id="button" 
		       class="" 
		       [disabled]="!changeForm.valid"
		       (click)="forgetPassword()">Submit</button> -->
		       
		       <button ion-button block 
		       class="savebutton" 
		       [disabled]="!changeForm.valid"
		       (click)="changePassword()">Update</button>
			</ion-list>
		</form>
	</div>
</ion-content>
