<ion-list class="filterDialog contact-popup list-margin">
  <form [formGroup]="forgetForm">
    <ion-item>
    	<ion-label class="title">Forgot Password</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="sub-title">Enter your email address and we'll help you reset your password.</ion-label>
    </ion-item>

	
    <ion-item class="email">
        <ion-label floating>Email</ion-label>  
        <ion-input 
        type="email"
        formControlName="email"
        ></ion-input>
    </ion-item>

      <ion-item class="error-message" *ngIf="forgetForm.controls['email'].hasError('required') && forgetForm.controls['email'].touched">
        <p>* Email is required</p>
      </ion-item>
      
      <ion-item class="error-message" *ngIf="forgetForm.controls['email'].hasError('pattern')  && forgetForm.controls['email'].touched">
        <p>Please enter a valid email.</p>
      </ion-item>

      <ion-item class="error-message" *ngIf="forgetForm.controls['email'].hasError('maxlength') && forgetForm.controls['email'].touched">
          <p> *Maximum email length is 50</p>
      </ion-item>


    <ion-item>
        <ion-row>
          <ion-col col-6>
            <button 
                ion-button 
                class="contct-btn" 
                color="white" 
                block 
                type="submit" 
                (click)="doForget()"
                [disabled]="!forgetForm.valid">Send</button>
          </ion-col>
          <ion-col col-6>
            <button 
                ion-button 
                type="button"
                class="contct-btn" 
                color="white" 
                block 
                (click)="closeModal()">Cancel</button>
          </ion-col>
        </ion-row>
    </ion-item>
  </form>


</ion-list>
