page-finishsign {
	.signupform{
    color: white;
    margin: 11vw auto;
    padding: 5px;
    font-size: 2.3rem;
  }

  .checkstyle{
  	color:white;
	  font-size: 17px;
    margin-top:5vw;
    padding:0;
    border:0 !important;
  }
}
