page-signup {
	.facebooklogin{
	  border-radius: 25px;
	  background-color: #4267b2;
	  color: white;
	  font-size: 2rem;
	  margin: 6vh auto 0;
	  display: block;
	  height: 5rem;
	}

.inputmagin{
	margin-bottom:20px;
}

p{
	 white-space: initial;
}


}
